.cartItem {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}

.cartItemImage {
  width: 80px;
  background-color: #1D1E25;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  margin: -7px 0 0 15px;
  width: 100%;
}

.cartItemDetails, .cartItemDetails .title {
  font-family: nasalization-light;
  font-size: 18px;
}

.inventory {
  display: block;
  position: absolute;
  padding: 6px 10px;
  left: -9px;
  top: -8px;
  background-color: #5D38C4;
  border-radius: 30px;
  font-size: 14px;
  opacity: .85
}
