.productImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.productImage {
  img {
    width: 300px;
    background-color: #1D1E25;
  }
}

.productDetails {

  &,
  & .title {
    font-family: nasalization-light;
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
}

.productImage {
  .addToCart {
    display: none;
  }
}

.productImage:hover {
  img {
    opacity: .2;
  }
}

.productImage:hover {
  .addToCart {
    display: block;
    position: absolute;
    z-index: 1;
  }
}

.inventory {
  display: block;
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  background-color: #5D38C4;
  border-radius: 30px;
  font-size: 14px;
}